PN_TERRARIA_KERBEROS_PASSWORD=
PN_TERRARIA_NEX_PASSWORD_SECRET=
PN_TERRARIA_AUTHENTICATION_SERVER_PORT=27100
PN_TERRARIA_SECURE_SERVER_HOST=127.0.0.1
PN_TERRARIA_SECURE_SERVER_PORT=27101
PN_TERRARIA_POSTGRES_URI=postgres://user:password@localhost:5432/terraria?sslmode=disable
